.flex-row-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.name{
    flex-grow: 0.2;
    height: 100%;
    /* background-color: pink;  */

    font-family: 'Exo 2' , roboto;
    font-weight: 800;

    font-size: 40px;

    justify-content: flex-start;
    padding-left: 2%;
}


.links{ 
    flex-grow: 0.8;

    height: 100%;

    /* background-color: yellow; */

    justify-content: space-around;
}

#burger{
    display: none;
}




@media screen and (max-width : 500px) {

    .links>div{
        display: none;
    }

    #burger{
        display: block;
        justify-content: flex-end;
        /* background-color: pink; */
        flex-grow: 1;
        height: 100%;
        justify-content: flex-end;
        align-items: center;
        display: flex;
        padding-right: 5%;
    }
    
}





.c21{

    display: flex;
    justify-content: space-around;

    align-items: center;
    flex-direction: row;

    background-color: rgb(5, 14, 26);
    height: 100%;
    width: 100%;
}



.links>div , .c21>div{

    font-family: 'Exo 2 ' , roboto;

    text-transform: capitalize;

}